html body {
    background: rgb(221, 221, 221);
    overflow-x: hidden;
}

.margin-20px {
    margin: 10px;
}


@media screen and (max-width: 640px) {
.dark-bg {
    background-color: rgb(23, 96, 190);   
    color: white;
    text-shadow: 0 0 3px black;
    -moz-user-select: none;
    font-size: 16px ;
}

#slidemenu {
    
  
  font-weight: 900;
  position: fixed;
  bottom: 80px;
  right: 1vw;
  background: rgb(23, 96, 190);
  font-size: 32px;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  text-align: center;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 3px #00000088;
  text-decoration: none;
  transition: 50ms all;
  transform-origin: center;
  transform: rotateZ(-90deg); transform: scale(-1, 1);
  
  z-index: 21 ;
  
}

.flip180 {
  transform: rotateZ(90deg) ; 
}

.card {
  display: inline-grid;
  box-shadow: 4px 4px 5px #00000088;
  transition: cubic-bezier(0.23, 0.55, 0.23, 1) 100ms;
  width: 16rem ;
  height: auto ;  
  font-size: 12px ;
}

.card-header {
  height: auto ;
  font-size: 16px ;
}

.card-body {
  font-size: 14px;
}

.card-text {
  font-size: 12px;
}

.card:hover {
  
  transform: scale(1.05);
  z-index: 10;
  box-shadow: 4px 4px 5px #00000088 ;
  cursor: pointer;


  
}

.card:active {
  
  transform: scale(1.03);
  z-index: 10;
  box-shadow: 4px 4px 5px #00000088 ;
  cursor: pointer;


}


.separate {
  min-height: 50vh ;
  height: 50vh ;
  margin-top: -8px;
  padding-left: 50px ;
  padding-right: 50px ;
  display: block;
  border-top: 2px solid black ;
  border-left: none ;
  border-right: none ;
  border-bottom: none ;
  background-color: rgb(240, 240, 240);
  position: fixed ;
  z-index: 20 ;
  bottom: 0;
  overflow-y: scroll;
}

.placeholder {
  display: inline-block;
  height: 140vh ;
  
}

/* END OF MOBILE VIEW */
}



.dark-bg {
  background-color: rgb(23, 96, 190);
  padding: 2vh;   
  color: white;
  text-shadow: 0 0 3px black;
  -moz-user-select: none;
  user-select: none;
}

.card {
    display: inline-grid;   
    box-shadow: 4px 4px 5px #00000088;
    transition: all cubic-bezier(0.23, 0.55, 0.23, 1) 100ms;
    width: 18rem;
    height: 14rem;    
    transform: scale(1);
    z-index: 9;
}

.card:hover {
  transform: scale(1.09);
  z-index: 10;
  box-shadow: 10px 60px 15px #00000044;
  cursor: pointer;   
}


.card:active {
    
    transform: scale(1.03);
    z-index: 10;
    box-shadow: 8px  50px 15px #00000066;
    cursor: pointer;
    background-color: rgb(159, 159, 187) ;
    transition: all 10ms;
}



.card-header {
    text-align: center;
    font-weight: 900;
    font-size: 32px;
    height: 4rem;
    background: rgba(0,0,0,0.4) ;
}

.separate {
    min-height: 80vh;
    margin-top: -8px;
    display: block;
    border-left: 3px double grey;
    border-bottom: 3px double grey;
    background-color: rgb(240, 240, 240);
}



#slidemenu {
    
    transform: scale(1, 1);
    font-weight: 700;
    position: fixed;
    top: 2vh;
    right: 1.5vw;
    background: rgb(172, 181, 192);
    font-size: 16px;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    padding: 0.4rem;
    text-align: center;
    color: rgb(27, 27, 27);
    border-radius: 10px;
    box-shadow: 0px 0px 3px #00000088;
    text-decoration: none;
    transition: 50ms all;
    
}

#slidemenu:hover {
    background: rgb(223, 226, 231);
    box-shadow: 0 0 10px rgb(223, 226, 231);
    transform: scale(1.1);
    -moz-transform: scale(1.1);
}

#slidemenu:active {
  background: white;
  box-shadow: 0 0 15px white;
  color: grey;
}
