html body {
    background: rgb(221, 221, 221);
}

.margin-20px {
    margin: 10px;
}


@media screen and (max-width: 640px) {
.dark-bg {
    background-color: rgb(23, 96, 190);   
    color: white;
    text-shadow: 0 0 3px black;
    -moz-user-select: none;
    font-size: 16px !important;
}

#slidemenu {
    
  scale: -1 1;
  font-weight: 900;
  position: fixed;
  bottom: 80px;
  right: 1vw;
  background: rgb(23, 96, 190);
  font-size: 32px;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  text-align: center;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 3px #00000088;
  text-decoration: none;
  transition: 50ms all;
  transform-origin: center;
  transform: rotateZ(-90deg);
  z-index: 21 !important;
  
}

.flip180 {
  transform: rotateZ(90deg) !important; 
}

.card {
  display: inline-grid !important;
  box-shadow: 4px 4px 5px #00000088;
  transition: cubic-bezier(0.23, 0.55, 0.23, 1) 100ms;
  width: 16rem !important;
  height: auto !important;  
  transform-origin: top;
  font-size: 12px !important;
  transition: none !important;
}

.card-header {
  height: auto !important;
  font-size: 16px !important;
}

.card-body {
  font-size: 14px;
}

.card-text {
  font-size: 12px;
}

.card:hover {
    
  scale:105%;
  z-index: none !important;
  box-shadow: 4px 4px 5px #00000088 !important;
  cursor: pointer;
  transform: none;
  -webkit-animation: none !important;
  animation: none !important;
  
}

.card:active {
  scale:103%;
  z-index: none !important;
  box-shadow: 4px 4px 5px #00000088 !important;
  cursor: pointer;
  transform: none;

}

footer {
  margin: 20px;
  position: relative !important;
  font-size: 70%;
  text-align: center;
  bottom: 10px;
  right: 10px;
}

.separate {
  min-height: 50vh !important;
  height: 50vh !important;
  margin-top: -8px;
  display: block;
  border: none !important;
  background-color: rgb(240, 240, 240);
  position: fixed !important;
  z-index: 20 !important;
  bottom: 0;
  overflow-y: auto;
}

.placeholder {
  min-height: 170vh !important;
  display: block;
}

/* END OF MOBILE VIEW */
}

.dark-bg {
  background-color: rgb(23, 96, 190);   
  color: white;
  text-shadow: 0 0 3px black;
  -moz-user-select: none;
}

.card {
    display: inline-grid !important;
    box-shadow: 4px 4px 5px #00000088;
    transition: cubic-bezier(0.23, 0.55, 0.23, 1) 100ms;
    width: 18rem;
    height: 14rem;  
    transform-origin: top;
    transform: perspective(150cm);
}

.card:hover {
    
    scale:105%;
    z-index: 10;
    box-shadow: 10px 60px 10px #00000066;
    cursor: pointer;
    transform: perspective(30cm) rotateX(-15deg);
        -webkit-animation: vibrate-3 10s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite alternate both;
        animation: vibrate-3 10s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite alternate both;
    
}

.card:active {
    scale:103%;
    z-index: 10;
    box-shadow: 30px 130px 35px #00000066;
    cursor: pointer;
    background-color: rgb(159, 159, 187) !important;
    transition: all 10ms;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-7-14 21:51:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-3
 * ----------------------------------------
 */
 @-webkit-keyframes vibrate-3 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    10% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    20% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    30% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    50% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    70% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    80% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    90% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-3 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    10% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    20% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    30% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    50% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    70% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    80% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    90% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  

.card-header {
    text-align: center;
    font-weight: 900;
    font-size: 32px;
    height: 4rem;
    background: rgba(0,0,0,0.4) !important;
}

.separate {
    min-height: 80vh;
    margin-top: -8px;
    display: block;
    border-left: 3px double grey;
    border-bottom: 3px double grey;
    background-color: rgb(240, 240, 240);
}


footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#slidemenu {
    
    scale: -1 1;
    font-weight: 900;
    position: fixed;
    bottom: 80px;
    right: 1vw;
    background: rgb(23, 96, 190);
    font-size: 32px;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    text-align: center;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #00000088;
    text-decoration: none;
    transition: 50ms all;
    
}

#slidemenu:hover {
    background: rgb(42, 118, 216);
}

#slidemenu:active {
    background: rgb(84, 140, 212);
    border: 2px solid lightsalmon;
}

.flip180 {
    scale: 1 1 !important; 

}

